.drag-element {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}
  
.drop-list {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted crimson;
}

.example-list {
    border: 2px dotted salmon;
    display: flex;
    flex-direction: column;
}
  

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
  